<div *ngIf="submittedData.length > 0">
    <h3>Form Data in Table Format</h3>
    <div>
      <table border="1">
        <tr>
          <th>Company Name</th>
          <th>Country</th>
          <th>Street</th>
          <th>City</th>
          <th>Pincode</th>
          <th>Unit Name</th>
          <th>Total Price</th>
        </tr>
        <tr *ngFor="let unit of submittedData; let i = index" >
          <td>{{ unit.companyName }}</td>
          <td>{{ unit.country }}</td>
          <td>{{ unit.street }}</td>
          <td>{{ unit.city }}</td>
          <td>{{ unit.pincode }}</td>
          <td>
            <ul>
              <li *ngFor="let data of unit.units">{{ data.unitName }}</li>
            </ul>
          </td>
          <td>
            <ul>
              <li *ngFor="let data of unit.units">{{ data.totalPrice }}</li>
            </ul>
          </td>
          <td><button (click)="patchForm(i)">Edit</button> </td>
        </tr>
      </table>
    </div>
  </div>